
#content{
    margin: 0 auto;
}
.leftMenu{
    background-color: black;
    color: white;
    min-height: 595px;
}
.main {
    width: 100%;
    margin: 0 0;
}

 .imagine {
     background-color: white;
     display: grid;
     width: 190px;
     float: left;
     margin: 50px;
  }
 .imagine a img{
      width: 100%;
  }
 .imagine span{
      text-align: center;
      font-size: 26px;
  }
.search{
  width: 400px;
  margin: 25px auto;
}
.search input{
  text-align: center;
  width: 100%;
  font-size: 1.7vw;
  border: 2px solid black;
}