body{
    margin:0px !important;
}
.logo{
    width: 150px;
    height: 70px;
    margin-top: -7px;
    margin-left: 30px; 
}
.fixed-header, .fixed-footer{
    width: 100%;
    background: #333;
    padding-bottom: 0px;
    padding-top: 10px;
    color: #fff;
    height: 70px;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
    height: 50px !important;
}
.container{
    width: 100%;
    margin: 0 0; /* Center the DIV horizontally */
    height: 100%;
    display : -webkit-inline-box;
}
.container nav {
    width: 33.33%;
    height: 100%;
}
.container .centerHeader{
    width: 33.33%;
    z-index: 3;
    height: 100%;
}
.container .rightHeader{
    width:33.34%;
    z-index: 3;
    height: 100%;
    text-align: right;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.centerHeader form input:focus {
    width: 100%;
}

.rightHeader a{
color: #fff;
text-decoration: none;
padding: 7px 25px;
display: inline-block;
}
.main {
    width: 100%;
    margin: 0 0; /* Center the DIV horizontally */
    height: 100%;
    display : -webkit-inline-box;
}
.rightMenu{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    centered content;
}
.bookInfo{ 
    width: 70%;
    margin: 0 auto;
    height:100%;
    background-color: blanchedalmond;
    
}
.bookCover{
    width:25%;
    height:60%;
    display: inline-block;
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-size: contain;
    resize: horizontal;
}
.bookTitle{
    width:75%;
    height:60%;
    display: inline-block;
    background-color:blanchedalmond;
    float: right;
    font-size: 800%;
    font-style: oblique;
    font-family: 'Gill Sans';
    text-align: center;
    text-decoration-color: beige;

}
.bookSummary{
    width:100%;
    height:40%;
    background-color:blanchedalmond;
    display: block; 
    font-size: 100%;
    font-style: oblique;
    font-family: Georgia;
    text-align:center;

}