body{
    margin:0px !important;
}
.logo{
    width: 150px;
    height: 70px;
    margin-top: -7px;
    margin-left: 30px; 
}
.fixed-header, .fixed-footer{
    width: 100%;
    background: #333;
    padding-bottom: 0px;
    padding-top: 10px;
    color: #fff;
    height: 70px;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
    height: 50px !important;
}
.container{
    width: 100%;
    margin: 0 0; /* Center the DIV horizontally */
    height: 100%;
    display : -webkit-inline-box;
    position: relative;
}
.container nav {
    width: 33.33%;
    height: 100%;
}
.container .centerHeader{
    width: 33.33%;
    z-index: 3;
    height: 100%;
    position: relative;
}
.container .rightHeader{
    width:33.34%;
    z-index: 3;
    height: 100%;
    text-align: right;
    font-size: 1.3em;
    top: 50%;
    margin-top: 5.5px;
}
 .rightHeader a:hover{
    background-color: #9bbdf4;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
    
  .centerHeader form input:focus {
    border-color: #9bbdf4;
    border: 3px;
    }
  .centerHeader form input{
      width: 100%;
      border: none;
      height: 30px;
      text-align: center;
      font-size: 1.5em;
      position: absolute;
      top: 50%;
      margin-top: -1em;
  }

.rightHeader a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
.leftMenu{
    width: 15%;
    background-color: black;
    height: 100%;
    color: white;
}

.rightMenu .imagine{
    height: 70%;
    width: 100%;
}
.rightMenu img{
    height: 130px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.up{
    height: 33.33%;
    display: -webkit-box;
    margin-top: 40px;
    margin-bottom: -20px;
}
.middle{
    height: 33.33%;
    display: -webkit-box;
    margin-top: 10px;
    margin-bottom: -20px;
}
.down{
    height: 33.34%;
    display: -webkit-box;
    margin-top :10px;
}
.leftBook{
    width: 33.33%;
    height: 100%;
}
.centerBook{
    width: 33.33%;
    height: 100%;
}
.rightBook{
    width: 33.34%;
    height: 100%;
}
.text{
    text-align: center;
    width: 100%;
    font-size: 1.6vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #d9d9ef;
    

}
.leftbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top:40px;
    margin-left:auto;
    margin-right: auto;
    width: 100px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .leftbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .leftbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .leftbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .leftbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .leftbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .stow{
    width: 20%;
    margin: 0 0; /* Center the DIV horizontally */
    height: 100%;
    position: relative;
    font-size: 2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: cursive;
    font-style: oblique;
}
.main {
    width: 100%;
    margin: 0 0; /* Center the DIV horizontally */
    height: 100%;
    display : -webkit-inline-box;
}
.rightMenu{
    width: 100%;
    height: 100%;
    background-color:#E0E0E0;

}
.bookInfo{ 
    width: 70%;
    height:100%;
    float:left;
    background-color: blanchedalmond;
    font-size: 200%;
    
}
.goBack{
    width: 15%;
    height:100%;
    float: left;
    position: relative;

}
.goForward{
    float: left;
    width: 15%;
    position: relative;
    height:100%;
}
.switchPageLeft{
    width: 30%;
    height: 8%;
    background-size: 100%;
    left:35%;
    top:50%;
    position:absolute;
    
}

.switchPageRight{
    width: 30%;
    height: 8%;
    background-size: 100%;
    left:35%;
    top:50%;
    position:absolute;
    
}
.bookMark{
    width:18%;
    height:8%;
    background-color:orange;
    font-size: 100%;
    float: left;
}

@media only screen and (max-width: 1600px) {
  
    .switchPageLeft{
        width: 30%;
        height: 4%;
        background-size: 100%;
        left:35%;
        top:50%;
        position:absolute;
        
    }
    .switchPageRight{
        width: 30%;
        height: 4%;
        background-size: 100%;
        left:35%;
        top:50%;
        position:absolute;

    }
    .bookMark{
    
        width:20%;
        height:7%;
        background-color:orange;
        font-size: 70%;
        float: left ;
    }
}

@media only screen and (max-width: 1450px) {
  
    .bookMark{
    
        width:20%;
        height:7%;
        background-color:orange;
        font-size: 90%;
        float: left ;
    }

}

@media only screen and (max-width: 1300px) {
  
    .bookMark{
    
        width:20%;
        height:7%;
        background-color:orange;
        font-size: 80%;
        float: left ;
    }

}
@media only screen and (max-width: 380px) {
  
    .switchPageLeft{
        width: 30%;
        height: 1%;
        background-size: 100%;
        left:35%;
        top:50%;
        position:absolute;
        
    }
    .switchPageRight{
        width: 30%;
        height: 1%;
        background-size: 100%;
        left:35%;
        top:50%;
        position:absolute;

    }
    .bookInfo{ 
        width: 70%;
        height:100%;
        float:left;
        background-color: blanchedalmond;
        font-size: 50%;
        
    }
}

@media only screen and (max-device-width: 800px) {
  
    .switchPageLeft{
        width: 30%;
        height: 3%;
        background-size: 100%;
        left:35%;
        top:50%;
        position:absolute;
        
    }
    .switchPageRight{
        width: 30%;
        height: 3%;
        background-size: 100%;
        left:35%;
        top:50%;
        position:absolute;

    }
    .bookMark{
    
        width:40%;
        height:7%;
        background-color:orange;
        font-size: 150%;
        float: left ;
    }
    .bookInfo{ 
        width: 70%;
        height:100%;
        float:left;
        background-color: blanchedalmond;
        font-size: 200%;
        
    }
}
@media only screen and (max-device-width: 590px) {
  
    .switchPageLeft{
        width: 30%;
        height: 2%;
        background-size: 100%;
        left:35%;
        top:50%;
        position:absolute;
        
    }
    .switchPageRight{
        width: 30%;
        height: 2%;
        background-size: 100%;
        left:35%;
        top:50%;
        position:absolute;

    }
    .bookInfo{ 
        width: 70%;
        height:100%;
        float:left;
        background-color: blanchedalmond;
        font-size: 240%;
        
    }
}


@media only screen and (max-width: 800px) {
  
    .switchPageLeft{
        width: 30%;
        height: 3%;
        background-size: 100%;
        left:35%;
        top:50%;
        position:absolute;
        
    }
    .switchPageRight{
        width: 30%;
        height: 3%;
        background-size: 100%;
        left:35%;
        top:50%;
        position:absolute;

    }
    .bookMark{
    
        width:40%;
        height:7%;
        background-color:orange;
        font-size: 150%;
        float: left ;
    }
    .bookInfo{ 
        width: 70%;
        height:100%;
        float:left;
        background-color: blanchedalmond;
        font-size: 100%;
        
    }
}
@media only screen and (max-width: 590px) {
  
    .switchPageLeft{
        width: 30%;
        height: 2%;
        background-size: 100%;
        left:35%;
        top:50%;
        position:absolute;
        
    }
    .switchPageRight{
        width: 30%;
        height: 2%;
        background-size: 100%;
        left:35%;
        top:50%;
        position:absolute;

    }
    .bookInfo{ 
        width: 70%;
        height:100%;
        float:left;
        background-color: blanchedalmond;
        font-size: 50%;
        
    }
}
