body{
    padding-top: 45px;
    padding-bottom: 30px;
    margin:0px !important;
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}
.container{
    width: 100%;
    margin: 0 0; /* Center the DIV horizontally */
    height: 100%;
    display : -webkit-inline-box;
}
.container nav {
    width: 33.33%;
    height: 100%;
}
.container .centerHeader{
    width: 33.33%;
    z-index: 3;
    height: 100%;
}
.container .rightHeader{
    width:33.34%;
    z-index: 3;
    height: 100%;
    text-align: right;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.centerHeader form input:focus {
    width: 100%;
}

.rightHeader a{
color: #fff;
text-decoration: none;
padding: 7px 25px;
display: inline-block;
}
.leftMenu{
    width: 15%;
    background-color: black;
    height: 100%;
}
.main {
    width: 100%;
    margin: 0 0; /* Center the DIV horizontally */
    height: 100%;
    display : -webkit-inline-box;
}
.rightMenu{
    width: 85%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}